<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="robloxrpc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <robloxrpc.Properties.Settings>
            <setting name="PlayerRevealUsername" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerJoinServerButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerGameLinkButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StudioRevealGameInformation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerRevealGameInformation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StudioRevealUsername" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StudioGameLinkButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StudioSwapIconAndLogo" serializeAs="String">
                <value>False</value>
            </setting>
        </robloxrpc.Properties.Settings>
    </userSettings>
</configuration>